$font-size:15px;
$vievport-height:100vh;
$z-index:1001;
$gap-length:70px;
//colors
$grey:#8D8D92;
$grey-lighten:#F6F7FA;
$white:#fff,;
$rose:#FB989D;
$purple:#615F7D;
$footer-dark:#192431;
$green-light:#82CA9C;
$button-green:#46BA6D;
$reasons-color:#82CA9C;
//boxes
$box-height:280px;