@import url("https://fonts.googleapis.com/css?family=Open+Sans");
#landscape figure, #samochod figure {
  margin-left: -200px;
  color: #fff;
  max-width: 50%;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 15px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 60px;
}

h2 {
  margin-bottom: 35px;
  font-size: 45px;
}

h3 {
  font-size: 30px;
}

h4 {
  margin-bottom: 17.5px;
  font-size: 18px;
  color: #F6F7FA;
}

p {
  font-size: 15px;
}

a {
  font-size: 12px;
}

#content {
  position: relative;
}

#landscape {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

#iphone {
  z-index: 1001;
  position: absolute;
  right: 100px;
  top: 40vh;
  height: auto;
  max-width: 40%;
}
#iphone img {
  height: auto;
  max-width: 100%;
}
@media (max-width: 840px) {
  #iphone {
    display: none;
  }
}

#boxes {
  padding-top: 70px;
  padding-bottom: 70px;
}
#boxes h4 {
  color: #8D8D92;
}
#boxes .boxes-wrapper {
  color: #fff;
  margin-top: 70px;
  margin-bottom: 70px;
}
#boxes .boxes-wrapper .col {
  display: flex;
  justify-content: center;
  height: 280px;
}
#boxes .boxes-wrapper .col .wrapper {
  padding-top: 10%;
  width: 90%;
  text-align: left;
}
@media (max-width: 768px) {
  #boxes .boxes-wrapper .row {
    justify-content: center;
  }
}

#boxes .container h3 {
  color: #fff;
}
#boxes .container a {
  text-decoration: none;
}
#boxes .container a:visited {
  color: #fff;
}

.block-1 {
  background-color: #FB989D;
}

.block-2 {
  background-color: #615F7D;
}

.block-3 {
  background-image: url(../../images/box3.png);
  background-size: cover;
}
@media (min-width: 992px) {
  .block-3 {
    background-position: center right;
  }
}
@media (max-width: 1200px) {
  .block-3 {
    background-position: center right;
  }
}

.block-4 {
  background-image: url(../../images/box4_1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.block-5 {
  background-color: #82CA9C;
}

.grey p {
  color: #8D8D92;
}

#samochod {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

#reasons {
  padding-top: 70px;
  padding-bottom: 70px;
  color: #fff;
  background-color: #82CA9C;
}
#reasons h2 {
  margin-bottom: 35px;
}
#reasons h4 {
  color: #fff;
}

#buy-it {
  background-color: #F6F7FA;
  padding-top: 70px;
  padding-bottom: 70px;
}
#buy-it .wrapper {
  background-color: #fff;
  padding: 10px 0 10px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#buy-it .col .inner {
  margin: 35px 0;
}
#buy-it .col .inner h2 {
  margin-bottom: 17.5px;
}

#buy-it .inner .pop-btn {
  position: absolute;
  display: block;
  width: 20%;
  text-align: center;
  text-decoration: none;
  padding: 10px 0;
  background-color: #FB989D;
  color: #fff;
  border-radius: 4px;
  border-bottom: 3px solid #f9676e;
  position: relative;
}
#buy-it .inner .pop-btn:hover {
  background-color: #f9676e;
  top: 3px;
  border-bottom: 0px;
}
#buy-it .inner .pop-btn:active {
  border-top: 3px solid #f9676e;
}
#buy-it .inner .buy-btn {
  position: absolute;
  display: block;
  width: 20%;
  text-align: center;
  text-decoration: none;
  padding: 10px 0;
  background-color: #46BA6D;
  color: #fff;
  border-radius: 4px;
  border-bottom: 3px solid #389557;
  position: relative;
}
#buy-it .inner .buy-btn:hover {
  background-color: #389557;
  top: 3px;
  border-bottom: 0px;
}
#buy-it .inner .buy-btn:active {
  border-top: 3px solid #389557;
}

footer {
  background-color: #192431;
  color: #fff;
  padding-top: 70px;
  padding-bottom: 17.5px;
}
footer .col > .container h3 {
  margin-bottom: 17.5px;
}
footer .col > .container p {
  margin-bottom: 17.5px;
}
footer ul {
  list-style-type: none;
}

/*# sourceMappingURL=style.css.map */
