#landscape {
    height: $vievport-height;
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    & figure {
        @extend %figureParalax
    }
    
}
 #iphone{
 	z-index: $z-index;
    	position: absolute;
    	right: 100px;
    	top: 40vh;
    	height: auto;
    	max-width: 40%;
    	& img{
    		height: auto;
    		max-width: 100%;
    	}
        @include media("(max-width:840px)"){
            display: none;
}
            
    }